<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamassistantbackend.mapper.InfoformcreateMapper">

    <resultMap id="BaseResultMap" type="com.example.teamassistantbackend.entity.Infoformcreate">
            <id property="iIFCId" column="iIFCId" jdbcType="INTEGER"/>
            <result property="iIFC_iIFId" column="iIFC_iIFId" jdbcType="INTEGER"/>
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="maxOption" column="maxOption" jdbcType="INTEGER"/>
            <result property="minOption" column="minOption" jdbcType="INTEGER"/>
            <result property="containerId" column="containerId" jdbcType="INTEGER"/>
            <result property="width" column="width" jdbcType="VARCHAR"/>
            <result property="height" column="height" jdbcType="VARCHAR"/>
            <result property="showBorder" column="showBorder" jdbcType="VARCHAR"/>
            <result property="borderWidth" column="borderWidth" jdbcType="VARCHAR"/>
            <result property="showRadius" column="showRadius" jdbcType="VARCHAR"/>
            <result property="borderRadius" column="borderRadius" jdbcType="VARCHAR"/>
            <result property="marginTop" column="marginTop" jdbcType="INTEGER"/>
            <result property="marginBottom" column="marginBottom" jdbcType="VARCHAR"/>
            <result property="marginLeft" column="marginLeft" jdbcType="VARCHAR"/>
            <result property="marginRight" column="marginRight" jdbcType="VARCHAR"/>
            <result property="textType" column="textType" jdbcType="VARCHAR"/>
            <result property="fontSize" column="fontSize" jdbcType="VARCHAR"/>
            <result property="fontWeight" column="fontWeight" jdbcType="VARCHAR"/>
            <result property="fontFamily" column="fontFamily" jdbcType="VARCHAR"/>
            <result property="defaultText" column="defaultText" jdbcType="VARCHAR"/>
            <result property="textAlign" column="textAlign" jdbcType="VARCHAR"/>
            <result property="textColor" column="textColor" jdbcType="VARCHAR"/>
            <result property="placeholder" column="placeholder" jdbcType="VARCHAR"/>
            <result property="maxLength" column="maxLength" jdbcType="VARCHAR"/>
            <result property="options" column="options" jdbcType="VARCHAR"/>
            <result property="defaultTime" column="defaultTime" jdbcType="TIMESTAMP"/>
            <result property="isNeed" column="isNeed" jdbcType="VARCHAR"/>
            <result property="showInnerBorder" column="showInnerBorder" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        iIFCId,iIFC_iFId,id,
        containerId,width,height,
        showBorder,borderWidth,showRadius,
        borderRadius,marginTop,marginBottom,
        marginLeft,marginRight,textType,
        fontSize,fontWeight,fontFamily,
        defaultText,textAlign,textColor,
        placeholder,maxLength,OPTIONS,
        defaultTime,isNeed,type
    </sql>
    <select id="getContainerInfo" resultType="com.alibaba.fastjson.JSONObject">
        select * from infoformcreate where iIFC_iIFId = #{iIFId} and type = 'container';
    </select>
    <select id="getChildInfo" resultType="com.alibaba.fastjson.JSONObject">
        select * from infoformcreate where iIFC_iIFId = #{iIFId} and containerId = #{iIFCId};
    </select>
    <select id="getMetaId" resultType="java.lang.Integer">
        select max(id) from infoformcreate where iIFC_iIFId = #{iIFId}
    </select>
    <select id="getFromDataListByTableName" resultType="com.alibaba.fastjson.JSONObject">
        select id,
                code,
                name,
                '暂定' org,
                CASE cState
                   WHEN 0 THEN '未完成'
                   WHEN 1 THEN '已完成'
                   WHEN 2 THEN '待审批'
                END AS state
        from ${tableName} where dataState = 0
        order by id desc
    </select>
    <select id="selectFromDataOne" resultType="com.alibaba.fastjson.JSONObject">
        select * from ${tableName} where id = #{id} and dataState = 0
    </select>
    <select id="getPersonData" resultType="com.alibaba.fastjson.JSONObject">
        select * from ${tableName} where dataState = 0 and code = #{code}
    </select>
    <update id="deleteFromDataTable">
        DROP TABLE IF EXISTS `${tableName}`;
    </update>
    <update id="createFromDataTable">
        ${createSql}
    </update>
    <update id="doExcuSql">
        ${excuSql}
    </update>
    <update id="batchInsert">
        INSERT INTO ${tableName} (name, code)
        VALUES
        <foreach collection="personCodeList" item="item" separator=",">
            (#{item.name}, #{item.code})
        </foreach>
    </update>
</mapper>