<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamassistantbackend.mapper.InfoformMapper">

    <resultMap id="BaseResultMap" type="com.example.teamassistantbackend.entity.Infoform">
            <id property="iIFId" column="iIFId" jdbcType="INTEGER"/>
            <result property="cIF_cPICode_insert" column="cIF_cPICode_insert" jdbcType="VARCHAR"/>
            <result property="cIFTableName" column="cIFTableName" jdbcType="VARCHAR"/>
            <result property="cIFTitle" column="cIFTitle" jdbcType="VARCHAR"/>
            <result property="cIFCreateTime" column="cIFCreateTime" jdbcType="TIMESTAMP"/>
            <result property="cIF_cPICode_update" column="cIF_cPICode_update" jdbcType="VARCHAR"/>
            <result property="cIFUpdateTime" column="cIFUpdateTime" jdbcType="TIMESTAMP"/>
            <result property="cIFState" column="cIFState" jdbcType="VARCHAR"/>
            <result property="cIFManager" column="cIFManager" jdbcType="VARCHAR"/>
            <result property="cIFPubStaff" column="cIFPubStaff" jdbcType="VARCHAR"/>
            <result property="cIFPubOrg" column="cIFPubOrg" jdbcType="VARCHAR"/>
            <result property="cIFPubFlag" column="cIFPubFlag" jdbcType="VARCHAR"/>
            <result property="dataState" column="dataState" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        iIFId,cIF_cPICode_insert,cIFTableName,
        cIFCreateTime,cIF_cPICode_update,cIFUpdateTime,
        cIFState,cIFManager,cIFPubStaff,
        cIFPubOrg,cIFPubFlag,dataState
    </sql>
    <select id="getFromList" resultType="com.alibaba.fastjson.JSONObject">
-- 这里再加上从任务表中取到的该用户需要填写或已经填写的数据

        select *,
               DATE_FORMAT(cIFCreateTime, '%Y-%m-%d') as standerCreateTime,
               DATE_FORMAT(cIFUpdateTime, '%Y-%m-%d') as standerUpdateTime,
               DATE_FORMAT(cIFPubTime, '%Y-%m-%d') as standerPubTime
        from InfoForm
        where
            dataState = '0'
        <if test="data.searchInput != null and data.searchInput != ''">
            AND (cIFTitle like CONCAT('%', #{data.searchInput}, '%')
                OR cIFPuber like CONCAT('%', #{data.searchInput}, '%')
                )
        </if>
        <if test="data.showOther != null and data.showOther == true">
            <if test="data.startDate != null and data.startDate != ''">
              AND cIFCreateTime &gt;= #{data.startDate} -- 大于等于
            </if>
            <if test="data.endDate != null and data.endDate != ''">
                AND cIFCreateTime &lt;= #{data.endDate} -- 小于等于
            </if>
            <if test="data.optionValue != null and data.optionValue != ''">
                <if test="data.optionValue == '我的草稿'">
                    AND cIFState = '草稿'
                </if>
                <if test="data.optionValue == '我的发布'">
                    AND cIFState = '发布' AND cIF_cPICode_update = #{data.cPICode}
                </if>
                <if test="data.optionValue == '我的管理'">
                    AND (cIF_cPICode_insert = #{data.cPICode} or FIND_IN_SET(#{data.cPICode}, cIFManager) > 0)
                </if>
                <if test="data.optionValue == '未完成'">
                    AND cIFState = '草稿' -- 未完成填写
                </if>
                <if test="data.optionValue == '已完成'">
                    AND cIFState = '草稿' -- 已经完成填写
                </if>
            </if>
        </if>
    </select>
</mapper>
