<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamassistantbackend.mapper.OrganizationinfoMapper">

    <resultMap id="BaseResultMap" type="com.example.teamassistantbackend.entity.Organizationinfo">
            <id property="cOICode" column="cOICode" jdbcType="VARCHAR"/>
            <result property="cOIOrgCode" column="cOIOrgCode" jdbcType="VARCHAR"/>
            <result property="cOIOrgName" column="cOIOrgName" jdbcType="VARCHAR"/>
            <result property="cOIOrgDescription" column="cOIOrgDescription" jdbcType="VARCHAR"/>
            <result property="cOIOrgType" column="cOIOrgType" jdbcType="VARCHAR"/>
            <result property="bOIIsPublicVisible" column="bOIIsPublicVisible" jdbcType="BIT"/>
            <result property="iOISubLevelSequence" column="iOISubLevelSequence" jdbcType="INTEGER"/>
            <result property="dOICreationTime" column="dOICreationTime" jdbcType="TIMESTAMP"/>
            <result property="cOI_cPICode" column="cOI_cPICode" jdbcType="VARCHAR"/>
            <result property="cOIManagerCode" column="cOIManagerCode" jdbcType="VARCHAR"/>
            <result property="bOIIsUserVerified" column="bOIIsUserVerified" jdbcType="BIT"/>
            <result property="cOIOrgManagementPerm" column="cOIOrgManagementPerm" jdbcType="VARCHAR"/>
            <result property="cOIAddUserPerm" column="cOIAddUserPerm" jdbcType="VARCHAR"/>
            <result property="cOIDeleteUserPerm" column="cOIDeleteUserPerm" jdbcType="VARCHAR"/>
            <result property="cOIAssignPermPerm" column="cOIAssignPermPerm" jdbcType="VARCHAR"/>
            <result property="cOIManageFilePerm" column="cOIManageFilePerm" jdbcType="VARCHAR"/>
            <result property="bOIIsPublicOrgFile" column="bOIIsPublicOrgFile" jdbcType="BIT"/>
            <result property="bOIIsEnable" column="bOIIsEnable" jdbcType="BIT"/>
            <result property="dataState" column="dataState" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cOICode,cOIOrgCode,cOIOrgName,
        cOIOrgDescription,cOIOrgType,bOIIsPublicVisible,
        iOISubLevelSequence,dOICreationTime,cOI_cPICode,
        cOIManagerCode,bOIIsUserVerified,cOIOrgManagementPerm,
        cOIAddUserPerm,cOIDeleteUserPerm,cOIAssignPermPerm,
        cOIManageFilePerm,bOIIsPublicOrgFile,bOIIsEnable,
        dataState
    </sql>
    <select id="getOrgList" resultType="com.alibaba.fastjson.JSONObject">
        select * from organizationinfo
        where dataState = '0'
        <if test="perCode != null and perCode != ''">
            and (
                FIND_IN_SET(#{perCode}, cOIManagerCode) > 0
                or organizationinfo.cOICode in (
                    select cOPL_cOICode from orgpersonlink where cOPL_cPICode = #{perCode} and iOPLPersonStatus = 1
                )
            )
        </if>
        <if test="perCode == null or perCode == ''">
            and bOIIsPublicVisible = 0
        </if>
    </select>
    <select id="getManagerName" resultType="java.lang.String">
        SELECT
            GROUP_CONCAT( p.cPIName ) AS cPINames
        FROM
            personinfo p
        WHERE
            FIND_IN_SET( p.cPICode, #{orgManagerInfo} ) > 0
    </select>
    <select id="getMyPerArray" resultType="com.alibaba.fastjson.JSONObject">
        select DISTINCT cPIName,cPICode from personinfo pi
            left join orgpersonlink ol on ol.cOPL_cPICode = pi.cPICode
            left join organizationinfo oi on oi.cOICode = ol.cOPL_cOICode
        where bPIIsEnabled = 1
        <if test="allData == null || allData == ''">
            and (oi.cOIManagerCode = #{curPerCode}
            or ol.cOPL_cPICode = #{curPerCode})
            and pi.cPICode not in ( select cOPL_cPICode from orgpersonlink where cOPL_cOICode = #{curOrgCode}  and iOPLPersonStatus = 1)
        </if>
    </select>
</mapper>
