<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamassistantbackend.mapper.OrgpersonlinkMapper">

    <resultMap id="BaseResultMap" type="com.example.teamassistantbackend.entity.Orgpersonlink">
            <id property="cOPL_cOICode" column="cOPL_cOICode" jdbcType="VARCHAR"/>
            <id property="cOPL_cPICode" column="cOPL_cPICode" jdbcType="VARCHAR"/>
            <result property="dOPLCreationTime" column="dOPLCreationTime" jdbcType="TIMESTAMP"/>
            <result property="cOPLCreatedBy" column="cOPLCreatedBy" jdbcType="VARCHAR"/>
            <result property="cOPLPermissionSet" column="cOPLPermissionSet" jdbcType="VARCHAR"/>
            <result property="iOPLPersonStatus" column="iOPLPersonStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cOPL_cOICode,cOPL_cPICode,dOPLCreationTime,
        cOPLCreatedBy,cOPLPermissionSet,iOPLPersonStatus
    </sql>
    <select id="getPersonCodeByOrgCode" resultType="java.lang.String">
        select distinct cOPL_cPICode from OrgPersonLink where cOPL_cOICode in (${orgCodes}) and iOPLPersonStatus = 1;
    </select>
    <select id="selectPersonByPersonCodeAndOrgCodes" resultType="com.alibaba.fastjson.JSONObject">
        select * from orgpersonlink where cOPL_cOICode in (#{orgs}) and cOPL_cPICode = #{personCode}
    </select>
</mapper>
