<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamassistantbackend.mapper.PubconfigMapper">

    <resultMap id="BaseResultMap" type="com.example.teamassistantbackend.entity.Pubconfig">
            <id property="iPCId" column="iPCId" jdbcType="INTEGER"/>
            <result property="iTypeId" column="iTypeId" jdbcType="INTEGER"/>
            <result property="cType" column="cType" jdbcType="VARCHAR"/>
            <result property="dPubStartTime" column="dPubStartTime" jdbcType="TIMESTAMP"/>
            <result property="dPubEndTime" column="dPubEndTime" jdbcType="TIMESTAMP"/>
            <result property="cIsApproval" column="cIsApproval" jdbcType="VARCHAR"/>
<!--            <result property="iMaxRecordCount" column="iMaxRecordCount" jdbcType="INTEGER"/>-->
            <result property="cIsOrgManger" column="cIsOrgManger" jdbcType="VARCHAR"/>
            <result property="cPuber" column="cPuber" jdbcType="VARCHAR"/>
            <result property="cPubToPerson" column="cPubToPerson" jdbcType="VARCHAR"/>
            <result property="cPubToOrg" column="cPubToOrg" jdbcType="VARCHAR"/>
            <result property="cPubToPersonCode" column="cPubToPersonCode" jdbcType="VARCHAR"/>
            <result property="cPubToOrgCode" column="cPubToOrgCode" jdbcType="VARCHAR"/>
            <result property="cPubToFlagCode" column="cPubToFlagCode" jdbcType="VARCHAR"/>
            <result property="cPubToFlag" column="cPubToFlag" jdbcType="VARCHAR"/>
            <result property="dCreateTime" column="dCreateTime" jdbcType="TIMESTAMP"/>
            <result property="dUpdateTime" column="dUpdateTime" jdbcType="TIMESTAMP"/>
            <result property="cCreator" column="cCreator" jdbcType="VARCHAR"/>
            <result property="cUpdater" column="cUpdater" jdbcType="VARCHAR"/>
            <result property="dataState" column="dataState" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        iPCId,iTypeId,cType,
        dPubStartTime,dPubEndTime,cIsApproval,
--         iMaxRecordCount,cIsOrgManger,cPuber,
        cIsOrgManger,cPuber,
        cPubToPerson,cPubToOrg,cPubToFlag,
        dCreateTime,dUpdateTime,cCreator,
        cUpdater,dataState,cPubToPersonCode,
        cPubToOrgCode,cPubToFlagCode

    </sql>
    <select id="selectPubConfig" resultType="com.alibaba.fastjson.JSONObject">
        select pf.*,info.cIFState infoState from pubconfig pf
        <if test="data.type == 'CollectInfo'">
            LEFT JOIN (select iIFId,cIFState from InfoForm where iIFId = #{data.iTypeId}) info ON pf.iTypeId = info.iIFId
        </if>
        <if test="data.type == 'Notify'">
            LEFT JOIN (select iNMId,cNMState cIFState from noticemanager where iNMId = #{data.iTypeId}) info ON pf.iTypeId = info.iNMId
        </if>
        <if test="data.type == 'Task'">
            LEFT JOIN (select iTMId,cTMState cIFState from taskmanager where iTMId = #{data.iTypeId}) info ON pf.iTypeId = info.iTMId
        </if>
        where dataState = '0'
            and cType = #{data.type}
            and iTypeId = #{data.iTypeId}
    </select>
    <select id="getPersonsList" resultType="com.alibaba.fastjson.JSONObject">
        select cPICode personId,cPIName personName,'暂定' as personBelong from PersonInfo where bPIIsEnabled = 1
    </select>
    <select id="checkDataIsPub" resultType="java.lang.Boolean">
        select count(*) from ${name} where dataState = '0' ${condition}
    </select>
</mapper>
