<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamassistantbackend.mapper.TaskmanagerMapper">

    <resultMap id="BaseResultMap" type="com.example.teamassistantbackend.entity.Taskmanager">
            <id property="iTMId" column="iTMId" jdbcType="INTEGER"/>
            <result property="cTMManagerCodes" column="cTMManagerCodes" jdbcType="VARCHAR"/>
            <result property="cTMPubName" column="cTMPubName" jdbcType="VARCHAR"/>
            <result property="cTMTitle" column="cTMTitle" jdbcType="VARCHAR"/>
            <result property="cTMRequest" column="cTMRequest" jdbcType="VARCHAR"/>
            <result property="cTMContent" column="cTMContent" jdbcType="VARCHAR"/>
            <result property="cTMState" column="cTMState" jdbcType="VARCHAR"/>
            <result property="dTMCreateTime" column="dTMCreateTime" jdbcType="TIMESTAMP"/>
            <result property="dTMUpdateTime" column="dTMUpdateTime" jdbcType="TIMESTAMP"/>
            <result property="cTMCreaterCode" column="cTMCreaterCode" jdbcType="VARCHAR"/>
            <result property="cTMUpdaterCode" column="cTMUpdaterCode" jdbcType="VARCHAR"/>
            <result property="dataState" column="dataState" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        iTMId,cTMManagerCodes,cTMPubName,
        cTMTitle,cTMRequest,cTMContent,
        cTMState,dTMCreateTime,dTMUpdateTime,
        cTMCreaterCode,cTMUpdaterCode,dataState
    </sql>
    <select id="getInfoList" resultType="com.alibaba.fastjson.JSONObject">
        select
            DATE_FORMAT(dTMCreateTime, '%Y-%m-%d %H:%i:%s') as dTMCreateTime,
            DATE_FORMAT(dTMUpdateTime, '%Y-%m-%d %H:%i:%s') as dTMUpdateTime,
            iTMId,cTMManagerCodes,cTMPubName,
            cTMTitle,cTMRequest,cTMContent,
            cTMState,cTMCreaterCode,cTMUpdaterCode
        from taskmanager
        where dataState = '0'
        <if test="data.searchData.searchInput != null and data.searchData.searchInput != ''">
            AND (cTMPubName like CONCAT('%', #{data.searchData.searchInput}, '%')
            OR cTMTitle like CONCAT('%', #{data.searchData.searchInput}, '%')
            )
        </if>
        <if test="data.searchData.showOther != null and data.searchData.showOther == true">
            <if test="data.searchData.startDate != null and data.searchData.startDate != ''">
                AND dTMCreateTime &gt;= #{data.searchData.startDate} -- 大于等于
            </if>
            <if test="data.searchData.endDate != null and data.searchData.endDate != ''">
                AND dTMUpdateTime &lt;= #{data.searchData.endDate} -- 小于等于
            </if>

            <if test="data.searchData.optionValue != null and data.searchData.optionValue != ''">
                <if test="data.searchData.optionValue == '我的草稿'">
                    AND cTMState = '草稿'
                </if>
                <if test="data.searchData.optionValue == '我的发布'">
                    AND cTMState = '发布' AND cTMManagerCodes = #{data.cPICode}
                </if>
            </if>
        </if>
        <if test="data.pageData.currentPage != null and data.pageData.currentPage != '' and data.pageData.pageSize != null and data.pageData.pageSize != ''">
            limit #{data.pageData.pageSize} OFFSET #{data.pageData.offset}
        </if>
    </select>
    <select id="getInfoListAmount" resultType="java.lang.Integer">
        select count(*) from taskmanager
        where dataState = '0'
        <if test="data.searchData.searchInput != null and data.searchData.searchInput != ''">
            AND (cTMPubName like CONCAT('%', #{data.searchData.searchInput}, '%')
            OR cTMTitle like CONCAT('%', #{data.searchData.searchInput}, '%')
            )
        </if>
        <if test="data.searchData.showOther != null and data.searchData.showOther == true">
            <if test="data.searchData.startDate != null and data.searchData.startDate != ''">
                AND dTMCreateTime &gt;= #{data.searchData.startDate} -- 大于等于
            </if>
            <if test="data.searchData.endDate != null and data.searchData.endDate != ''">
                AND dTMUpdateTime &lt;= #{data.searchData.endDate} -- 小于等于
            </if>

            <if test="data.searchData.optionValue != null and data.searchData.optionValue != ''">
                <if test="data.searchData.optionValue == '我的草稿'">
                    AND cTMState = '草稿'
                </if>
                <if test="data.searchData.optionValue == '我的发布'">
                    AND cTMState = '发布' AND cTMManagerCodes = #{data.cPICode}
                </if>
            </if>
        </if>
    </select>
</mapper>
